.header {
  border-bottom: 2px solid dimgray;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.right-toolbar {
  max-width: 400px;
  min-width: 400px;
  align-self: flex-end;
  margin: 0 20px
}