.header {
  border-bottom: 2px solid dimgray;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.toolbar {
  max-width: 1300px;
  width: 100%;
  margin: 50px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-element {
    align-self: flex-start;
    width: 100%;
  }
}

.wrapper-top-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.v-expansion-panel-text {
  overflow: auto;
  max-height: 500px;
}

.graph-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
}